.main{
    margin: 0;
    display: flex;
    background-color: rgb(27, 27, 91);
    color: white;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.main .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 50vw;
    background-color: red;
    border-radius: 10px;
}

.main .container .alphabet{
    display: flex;
    align-items: center;
    justify-content: center; 
     color: green;
    background-color: white;
    margin: 5px 5px;
    height: 60px;
    width: 150px;
    font-size: 50px;
}
